{% extends "pages/page.html" %}

{% load mezzanine_tags event %}

{% block breadcrumb_wrapper %}
{% endblock %}

{% block main %}{{ block.super }}
{% for event in page.eventcontainer.events %}
<h3><a href="{{event.get_absolute_url}}">{{event.title}}</a> <small>From
        {{event.start}} to {{event.end}}</small></h3>
    {{event.content|richtext_filter|truncatewords_html:40|safe}}
    <a href="{{event.get_absolute_url}}" class="btn">More info &rarr;</a>
{% endfor %}
{% endblock %}

{% block right_wrapper %}
{% endblock %}