{% extends "pages/richtextpage.html" %}

{% load mezzanine_tags event %}


{% block left_wrapper %}
{% endblock %}

{% block main %}{{ block.super }}
{% for event in page.eventcontainer.events %}
    <div class="blog-item well">
        <h2><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h2>
        <div class="blog-meta clearfix">
        <p class="pull-left">
            <i class="icon-calendar"></i>&nbsp;&nbsp;<a href="#">From {{ event.start|date:"DATETIME_FORMAT" }} to {{ event.end|date:"P" }}</a>
        </p>
        <p class="pull-right">
        {% if event.external_url %}
            <i class="icon-link"></i>&nbsp;&nbsp;<a href="{{ event.external_url }}">{{ event.external_url }}</a>
        {% endif %}
        </p>
        </div>
        {{event.content|striptags|truncatewords:40|safe}}
        <a href="{{ event.get_absolute_url }}" class="btn btn-link">Read More <i class="icon-angle-right"></i></a>
    </div>
{% endfor %}
{% endblock %}

{% block right_panel %}
    <div class="panel panel-default">
    <div class="panel-body">
        <a class="twitter-timeline" href="https://twitter.com/lfcatlanta" data-widget-id="467367746565439488" data-tweet-limit="3" data-chrome="noborders">Tweets by @lfcatlanta</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    </div>
{% endblock %}
