{% extends "base.html" %}
{% load i18n  mezzanine_tags staticfiles%}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block breadcrumb_wrapper %}
{% endblock %}

{% block title_wrapper %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}


{% block all_content %}
<section id="{% block section_id %}featured{% endblock %}">
{% block left_wrapper %}
{% endblock %}


{% block main_wrapper %}
<div class="col-md-{% block main_col_size %}none{% endblock %} {% block main_class %}{% endblock %}">
{% block main %}


<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="{% static "img/slides/1.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>Welcome to the home of LFC Atlanta</h3>
					<p>Official Liverpool FC Supporters Group</p>
					<a href="about-us" class="btn btn-theme">About Us</a>
                </div>
              </li>
              <li>
                <img src="{% static "img/slides/2.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>Welcome to LFC Atlanta</h3>
					<p>Official Liverpool FC Supporters Group</p>
					<a href="join-us/" class="btn btn-theme">Join Us</a>
                </div>
              </li>
              <li>
                <img src="{% static "img/slides/3.jpg" %}" alt="" />
                <div class="flex-caption">
                    <h3>LFC Atlanta</h3>
					<p>Official Liverpool FC Supporters Group</p>
					<a href="gallery/" class="btn btn-theme">Photos</a>
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
			</div>
		</div>
	</div>

{% endblock %}
</div>
{% endblock %}
{% block right_wrapper %}
{% endblock %}
</section>
<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text">
						<h2><span>LFC Atlanta</span> - Official Liverpool FC Supporters Group</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Hey, Football!</h4>
								<div class="icon">
								<i class="fa fa-futbol-o fa-3x"></i>
								</div>
								<p class="">
								Football, Soccer, futbol, futebol, whatever you want to call it, we love it!
								</p>
							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Good times</h4>
								<div class="icon">
								<i class="fa fa-beer fa-3x"></i>
								</div>
								<p>
								We watch our matches at Meehan's Downtown. Come say 'hi'!
								</p>
							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Family</h4>
								<div class="icon">
								<i class="fa fa-globe fa-3x"></i>
								</div>
								<p>
								LFC Atlanta welcomes fans of all ages and backgrounds from all over the world.
								</p>
							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Celebrate</h4>
								<div class="icon">
								<i class="fa fa-flag fa-3x"></i>
								</div>
								<p>
								Flags, scarves, shirts. We often have raffles for signed merchandise and apparel.
								</p>
							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
		<!-- Portfolio Projects -->
		<div class="row">
			<div class="col-lg-12">
				<h4 class="heading">Recent Events</h4>
				<div class="row">
					<section id="projects">
					<ul class="portfolio" id="thumbs">
						<!-- Item Project and Filter Name -->
						<li data-type="web" data-id="id-0" class="col-lg-3 design">
						<div class="item-thumbs">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a href="{% static "img/works/1.jpg" %}" title="Work 1" data-fancybox-group="gallery" class="hover-wrap fancybox">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis." src="{% static "img/works/1.jpg" %}">
						</div>
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li data-type="icon" data-id="id-1" class="item-thumbs col-lg-3 design">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a href="{% static "img/works/5.jpg" %}" title="Work 2" data-fancybox-group="gallery" class="hover-wrap fancybox">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis." src="{% static "img/works/5.jpg" %}">
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li data-type="illustrator" data-id="id-2" class="item-thumbs col-lg-3 photography">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a href="{% static "img/works/7.jpg" %}" title="Work 3" data-fancybox-group="gallery" class="hover-wrap fancybox">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis." src="{% static "img/works/7.jpg" %}">
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li data-type="illustrator" data-id="id-2" class="item-thumbs col-lg-3 photography">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a href="{% static "img/works/8.jpg" %}" title="Work 4" data-fancybox-group="gallery" class="hover-wrap fancybox">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis." src="{% static "img/works/8.jpg" %}">
						</li>
						<!-- End Item Project -->
					</ul>
					</section>
				</div>
			</div>
		</div>

	</div>
	</section>

{% endblock %}
